:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #1abc9c;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-gray-rgba: rgba(128, 128, 128, 0.325);
  --bs-primary: #1abc9c;
  --bs-secondary: #2c3e50;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --bs-bronze: #cd7f32;
  --bs-silver: #c0c0c0;
  --bs-gold: #ffd700;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: var(--bs-gray-100);
  color: var(--bs-body-bg);
}

.taustavari {
  background-color: var(--bs-gray-700);
}

.ylaPalkki {
  display: flex; /* Käytä flexboxia */
  align-items: center; /* Kohdista elementit pystysuunnassa keskelle */
  justify-content: inherit;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  height: 70px;
  background-color: var(--bs-secondary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-shrink .kuva {
  /* Kohdistaa kuvan .kuva-elementin sisällä */
  width: 50px; /* Uusi leveys */
  height: 50px; /* Uusi korkeus */
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.navbar-shrink .portfolioTeksti {
  /* Kohdistaa .portfolioTeksti-elementin */
  font-size: 20px; /* Uusi fonttikoko */
  transition: font-size 0.5s ease-in-out;
}

.navbar-shrink .ul-li-tekstit {
  /* Kohdistaa .ul-li-tekstit-elementit */
  font-size: 15px; /* Uusi fonttikoko */
  transition: font-size 0.5s ease-in-out;
}

.kuva {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5px;
}

.portfolioTeksti {
  font-family: "fantasy";
  font-size: 40px;
  color: #ffffff; /* Perii värin ympäröivästä elementistä */
  text-decoration: none; /* Poistaa alleviivauksen */
  border: 2px solid rgb(255, 255, 255); /* Lisää mustat ääriviivat */
  border-radius: 10%;
  padding: 10px; /* Lisää hieman tilaa tekstin ja ääriviivojen väliin */
  margin-left: 20px;
}

.portfolioTeksti:hover {
  background-color: var(--bs-gray-rgba);
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 10px;
}

.ul-li-tekstit {
  color: #ffffff; /* Perii värin ympäröivästä elementistä */
  text-decoration: none; /* Poistaa alleviivauksen */
  border: 2px solid rgb(255, 255, 255); /* Lisää mustat ääriviivat */
  border-radius: 10%;
  padding: 4px; /* Lisää hieman tilaa tekstin ja ääriviivojen väliin */
  font-size: 15px;
}

.ul-li-tekstit:hover {
  background-color: var(--bs-gray-100);
  color: var(--bs-secondary);
}

.cv {
  color: var(--bs-body-bg);
  text-align: center;
  background-color: var(--bs-gray-400);
  padding: 5px;
  border-radius: 5%;
  border: 2px solid var(--bs-secondary);
}

.tekstiboksi {
  margin-top: 10%;
  color: var(--bs-body-bg);
  text-align: center;
  background-color: var(--bs-gray-400);
  padding: 5px;
  border-radius: 5%;
  border: 2px solid var(--bs-secondary);
}

figure {
  display: inline-block;
  padding: 10px;
}

.linkedIn {
  color: var(--bs-blue);
}

section {
  padding: 70px;
  padding-bottom: 0px;
}

.ikonit {
  color: var(--bs-secondary);
  padding: 10px;
}

.ikonit:hover {
  background-color: var(--bs-gray-200);
  border-radius: 50%;
}

.copyright {
  text-align: center;
  width: 100%;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bs-gray-800);
  font-weight: bold;
  text-align: center;
}

/* ---------------------------- Projekti.html css ------------------------------------------------ */

.dropdown {
  position: relative;
  display: inline-block;
}

.valikon-sisalto {
  display: none; /* piilottaa valikon sisällön oletuksena */
  position: absolute;
  background-color: var(--bs-secondary);
  min-width: 160px;
}

.valikon-sisalto a {
  color: var(--bs-secondary);
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: var(--bs-light);
}

.valikon-sisalto a:hover {
  background-color: var(--bs-light);
  color: var(--bs-secondary);
}

.show {
  display: block;
}

.valikko {
  margin-left: 100%;
  cursor: pointer;
  color: var(--bs-light);
  font-size: 200%;
}

.valikko:hover {
  color: var(--bs-gray);
}

.tekstiboksi2 {
  margin-top: 10%;
  color: var(--bs-body-bg);
  display: flex; /* Ota flexbox käyttöön */
  flex-direction: column; /* Aseta elementit päällekkäin */
  background-color: var(--bs-gray-400);
  padding: 5px;
  border-radius: 5%;
  border: 2px solid var(--bs-secondary);
  align-items: center;
}

.slider-container {
  width: 20%; /* Säätää sliderin leveyttä */
  overflow: hidden;
  border: 2px solid var(--bs-secondary);
  display: flex;
  flex-direction: column; /* Aseta slider ja buttonit päällekkäin */
  align-items: center; /* Keskitä elementit vaakasuunnassa */
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Lisää animaation kuvien vaihtoon */
}

.slider img {
  width: 100%;
  height: auto;
}

/* Napit */
button {
  position: absolute;
  background-color: var(--bs-secondary);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

#edellinen {
  margin-right: 24%;
  margin-top: 20%;
}

#seuraava {
  margin-left: 24%;
  margin-top: 20%;
}

#edellinen:hover {
  background-color: var(--bs-light);
  color: var(--bs-secondary);
}

#seuraava:hover {
  background-color: var(--bs-light);
  color: var(--bs-secondary);
}

.slider-teksti {
  text-align: center;
  margin-top: 10px; /* Lisää tilaa sliderin ja tekstin väliin */
  background-color: var(--bs-light);
  font-family: Arial, Helvetica, sans-serif;
}

.muna {
  width: 100px;
  height: 150px;
  background-color: #000000;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /* Munamainen muoto */
  border: 1px solid var(--bs-light);
  cursor: pointer;
}

#upgrade {
  color: var(--bs-light);
  background-color: var(--bs-secondary);
  border-radius: 80%;
  object-fit: cover;
  padding: 1%;
  align-items: center;
}

#upgrade:hover {
  color: var(--bs-secondary);
  background-color: var(--bs-gray-200);
}
